<?xml version="1.0" encoding="utf-8"?> 
<connectionStrings>
  <add name="UserDBContext" connectionString="Data Source=.;Initial Catalog=sample_data;User Id=sa;Password=P455w0rd" providerName="System.Data.SqlClient"/>
 <add name="IdentityDB" connectionString="Data Source=.;Initial Catalog=sample_auth;User Id=sa;Password=P455w0rd" providerName="System.Data.SqlClient" /> 
 <add name="ErrLoggerDB" connectionString="Data Source=.;Initial Catalog=sample_auth;User Id=sa;Password=P455w0rd" providerName="System.Data.SqlClient" />
  <add name="MongoDBData" connectionString="mongodb://localhost:27017/samplecode" />
</connectionStrings>
   